<ion-view title="登录">
  <ion-nav-buttons side="right">
    <a class="button button-clear" ng-href="#/tab/home" nav-clear>
      <i class="icon ion-arrow-right-c"></i></a>
  </ion-nav-buttons>

  <ion-content overflow-scroll="false">


    <ion-list>
      <ion-item class="item-image" style="padding: 20px;border: none">
        <img align="center" ng-src="{{chat.face}}" style="border-radius: 50%;width: 25%">
      </ion-item>
    </ion-list>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-person placeholder-icon"></i>
        <input type="text" placeholder="用户名" ng-model="master.mName" id="usernameinput">

      </label>
      <label class="item item-input">
        <i class="icon ion-lock-combination placeholder-icon"></i>
        <input type="password" placeholder="密码" ng-model="master.mPwd">
      </label>
      <button class="button button-block button-positive" style="margin-top: 20px" ng-click="doLogin()"
      >登录</button>
      <div class="padding"></div>
      <a ng-click="doRegister()">注册</a>
      <a style="float: right" ng-click="doFind()">忘记密码</a>
    </div>


  </ion-content>
  <ion-footer-bar class="row bar-clear">
    <i class="iconfont icon-qq col clear positive light-bg" ng-click="doQQLogin()"></i>
    <i class="iconfont icon-weibo col clear assertive light-bg" ng-click="doWeiBoLogin()"></i>
    <i class="iconfont icon-weixin col clear balanced light-bg" ng-click="doWeChatLogin()"></i>
  </ion-footer-bar>
</ion-view>


