<ion-view title="登录">
  <ion-nav-buttons side="right">
    <a class="button button-clear" ng-href="#/tab/home" nav-clear>
      <i class="icon ion-arrow-right-c"></i></a>
  </ion-nav-buttons>

  <ion-content>
    <div>
      <!--logo区域-->
      <div style="height: auto;width: 100%;padding: 10px;">
        <div style="text-align: center">
          <img align="center" ng-src="{{chat.face}}" style="border-radius: 50%;width: 25%">
        </div>
      </div>

      <!--登录表单-->
      <div class="content" style="height: 50%">
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-person placeholder-icon"></i>
            <input type="text" placeholder="用户名" ng-model="master.mName" id="usernameinput">

          </label>
          <label class="item item-input">
            <i class="icon ion-lock-combination placeholder-icon"></i>
            <input type="password" placeholder="密码" ng-model="master.mPwd">
          </label>
        </div>


        <div class="padding" style="padding-bottom: 0px">
          <button class="button button-block button-positive" ng-click="doLogin()"
          >登录</button>
        </div>

        <div class="padding" style="padding-top: 0">
          <button class="button button-calm" ng-click="doRegister()">注册</button>
          <button class="button button-calm" style="float: right" ng-click="doFind()">忘记密码</button>
        </div>
      </div>


      <!--空白部分-->
      <div style="height: 20%;background-color: transparent"></div>
      <!--第三方图标-->
      <div class="padding row" style="margin-top: 10px;height: 10%">

         <button class="button icon ion-gear-a col clear" style="padding: 0 30px"></button>
         <button class="button icon ion-gear-a col clear" style="padding: 0 30px"></button>
         <button class="button icon ion-gear-a col clear" style="padding: 0 30px"></button>
         <button class="button icon ion-gear-a col clear" style="padding: 0 30px"></button>
      </div>
    </div>
  </ion-content>
</ion-view>


