<ion-view view-title="tour" id="tour-view">
  <!--<ion-content>-->
    <ion-nav-buttons side="right">
      <a class="button button-clear" ng-href="#/login" nav-clear>Start</a>
    </ion-nav-buttons>

    <ion-slide-box show-pager="true">
      <ion-slide>
        <span class="icon icon-slide ion-document-text"></span>
        <h3>See You </h3>
      </ion-slide>
      <ion-slide>
        <span class="icon icon-slide ion-document-text"></span>
        <h3>See You </h3>
      </ion-slide>
      <ion-slide>
        <span class="icon icon-slide ion-document-text"></span>
        <h3>See You </h3>
      </ion-slide>
    </ion-slide-box>
  <!--</ion-content>-->
</ion-view>
