<ion-view title="我的帖子" cache-view="false">
  <ion-nav-buttons side="left">
    <a class="button button-clear"
       nav-clear ng-click="goBack()">
      <i class="icon ion-arrow-left-c"></i>
    </a>
  </ion-nav-buttons>
  <ion-content class="padding stable-bg">
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
    <ion-list>
      <div ng-repeat="item in posts" class="card">
        <ion-item class="item-body">
          <i class="energized">[{{item.pcName}}]</i> {{item.pTitle}}
        </ion-item>
        <ion-item class="item-divider light-bg">
          <span style="font-size: 12px">{{item.barName}} <i style="float: right;" class="dark">{{item.pTime}}</i></span>
        </ion-item>
      </div>
    </ion-list>
    <ion-infinite-scroll icon="ion-loading-c" ng-if="param.tryMore" on-infinite="loadMore()" distance="1%">

    </ion-infinite-scroll>
  </ion-content>
</ion-view>
