<!--添加关注界面-->
<ion-view title="更多">
  <ion-nav-buttons side="left">
    <a class="button button-clear"
       nav-clear ng-href="#/tab/post/concern">
      <i class="icon ion-arrow-left-c"></i>
    </a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-clear"
       nav-clear ng-href="#/tab/post/concern">
      <i>完成</i>
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div class="padding"></div>
    <div class="content ionic-pseudo">
      <div class="list">

        <div class="item item-divider">
          您家的品种
        </div>

        <a class="item" href="#">
          拉布拉多吧
          <button class="button button-small icon ion-plus icon-assertive"
                  style="float:right;">添加关注</button>
        </a>

        <a class="item" href="#">
          金毛吧
          <button class="button button-small icon ion-plus icon-assertive"
                  style="float:right;">添加关注</button>
        </a>

        <a class="item" href="#">
          二哈吧
          <button class="button button-small icon ion-plus icon-assertive"
                  style="float:right;">添加关注</button>
        </a>

        <a class="item" href="#">
          柴犬吧
          <button class="button button-small icon ion-plus icon-assertive"
                  style="float:right;">添加关注</button>
        </a>

        <div class="item item-divider">
          生活健康
        </div>

        <a class="item" href="#">
          疾病预防
          <button class="button button-small icon ion-plus icon-assertive"
                  style="float:right;">添加关注</button>
        </a>

        <a class="item" href="#">
          锻炼
          <button class="button button-small icon ion-plus icon-assertive"
                  style="float:right;">添加关注</button>
        </a>

        <a class="item" href="#">
          增加技能
          <button class="button button-small icon ion-plus icon-assertive"
                  style="float:right;">添加关注</button>
        </a>

      </div>

    </div>
  </ion-content>
</ion-view>
