<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <a class="button button-clear" ng-click="modal.hide()"><i class="icon ion-arrow-left-c"></i></a>
    </div>
  </ion-header-bar>
  <ion-content style="background-color: #fafafa">
    <div style="text-align: center;margin-top: 15%">
      <img ng-src="{{chat.face}}" style="width: 40%;padding: 20px 20px 0 20px"><br>
      <h2 style="font-family: 幼圆; color:#1E90FF; font-weight: bolder">宠物助手</h2>
    </div>
    <div style="text-align: center;margin-top: 75%">
      <h5 style="font-family: 方正舒体; font-size: small">
        给予狗狗更多的关爱
      </h5>
    </div>
  </ion-content>
</ion-modal-view>
