<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="宠物" icon-off="ion-ios-paw-outline" icon-on="ion-ios-paw" href="#/tab/dog">
    <ion-nav-view name="tab-dog" nav-view-transition="none"></ion-nav-view>
  </ion-tab>
  <!-- Chats Tab -->
  <ion-tab title="论坛" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/post">
    <ion-nav-view name="tab-post"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="我" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/me">
    <ion-nav-view name="tab-me"></ion-nav-view>
  </ion-tab>


</ion-tabs>
