<!--主页面之4： 我
    By:author
-->

<ion-view hide-nav-bar="false" title="我" cache-view="false" ng-init="updateInfo()">
  <ion-content>

    <div style="height: 20px;"></div><!--留白-->

    <!--me-->
    <ion-list>
      <ion-item class="row" ng-style="{'padding':'6px','background-color':'#d9edf7'}">
          <!--用户头像-->
          <img ng-src="{{chat.face}}" class="userid col col-20">
          <!--显示用户基本信息-->
          <div class="col col-55" style="display: flex; align-items: center;margin-left: 10px">
            <ul style="text-align: left">
              <li>用户名:&nbsp;{{me.mName}}</li>
              <li>邮箱:&nbsp;{{me.mEmail}}</li>
              <li>积分:&nbsp;{{me.mScore}}</li>
            </ul>
          </div>
          <!--签到按钮-->
          <div class="col col-25" style="display: flex; align-items: center">
            <button class="button button-positive" ng-click="doSign()" ng-style="btn.ctrl">{{btn.name}}</button>
          </div>
      </ion-item>
    </ion-list>

    <!--我-->
    <!--<div style="background-color: #d9edf7;height: 20%;padding-top: 10px;padding-bottom: 5px" class="row">-->
      <!--&lt;!&ndash;用户头像&ndash;&gt;-->
      <!--<div class="col col-20" style="padding-left: 5px">-->
        <!--<img ng-src="{{chat.face}}" class="userid">-->
      <!--</div>-->
      <!--&lt;!&ndash;显示用户基本信息&ndash;&gt;-->
      <!--<div class="col col-60" style="padding-left: 10px;padding-top: 10px">-->
        <!--<ul style="text-align: left">-->
          <!--<li>用户名:&nbsp;{{me.mName}}</li>-->
          <!--<li>邮箱:&nbsp;{{me.mEmail}}</li>-->
          <!--<li>积分:&nbsp;{{me.mScore}}</li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--&lt;!&ndash;签到按钮&ndash;&gt;-->
      <!--<div class="col col-20" style="padding-top: 15px;padding-left: 0;padding-right:0">-->
        <!--<button class="button button-positive">签到</button>-->
      <!--</div>-->
    <!--</div>-->

    <div style="height: 20px;"></div><!--留白-->

    <div class="content ionic-pseudo">
      <div class="list">
        <a class="item item-icon-left" ng-href="#/collect">
          <i class="icon ion-heart assertive"></i>
          我的收藏
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-document-text positive"></i>
          我的帖子
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-ios-email positive"></i>
          回复提醒
        </a>
        <div style="height: 20px;"></div>  <!--留白-->
        <a class="item item-icon-left" href="#">
          <i class="icon ion-gear-b positive"></i>
          设置
        </a>
      </div>
    </div>
  </ion-content>
  </ion-view>
