<ion-view hide-nav-bar="false" title="宠物" ng-init="getDogsTabs(0)" cache-view="false">
  <ion-nav-buttons side="right">
    <a class="button button-clear" ng-click="goToAdd()" nav-clear>
      <i class="icon ion-plus"></i>
    </a>
  </ion-nav-buttons>
  <!--切换不同的宠物 宠物1号 宠物2号等等--->
  <div class="header">
    <ion-tabs class="tabs-top tabs-color-active-positive">
      <ion-tab title="{{p.petName}}" on-select="selectTab($index)" ng-repeat="p in pets" nav-transition="none" nav-view-transition="none"></ion-tab>
    </ion-tabs>
  </div>

  <ion-content style="margin-top: 50px">
    <div class="list">
      <div class="item item-image" ng-click="selectAvatar(pet.petId, curTab)">
        <img ng-src="{{pet.petPhoto}}" style="min-height: 200px;max-height: 300px;">
      </div>
      <a ng-href="#/petLog/{{pet.petId}}" class="item item-icon-left">
        <i class="icon ion-ios-paper"></i>
        {{pet.petName}}的记事本
      </a>

      <a href="#/baike/{{pet.petcId}}" class="item item-icon-left">
        <i class="icon ion-ios-bookmarks"></i>
        百科书
      </a>

      <a href="#/album/{{pet.petId}}" class="item item-icon-left">
        <i class="icon ion-images"></i>
        狗狗相册
      </a>

    </div>
  </ion-content>

</ion-view>
