<ion-view title="宠物记事本" ng-init="refreshLogs()">
  <ion-nav-buttons side="left">
    <a class="button button-clear"
       nav-clear ng-click="goBack()">
      <i class="icon ion-arrow-left-c"></i>
    </a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-clear"
       nav-clear ng-click="openLog()">
      <i class="icon ion-compose"></i>
    </a>
  </ion-nav-buttons>
  <ion-content class="stable-bg">
    <time-line lines="logs"></time-line>
  </ion-content>
</ion-view>
