<ion-view title="宠物">

  <ion-nav-buttons side="right">
    <a class="button button-clear" ng-click="goToAdd()" nav-clear>
      <i class="icon ion-plus"></i>
    </a>
  </ion-nav-buttons>
  <ion-content>
  <div class="list">
    <div class="item item-image">
      <img ng-src="{{pet.petPhoto}}" style="min-height: 200px;">
    </div>
    <a ng-href="#/petLog/{{pet.petId}}" class="item item-icon-left">
      <i class="icon ion-home"></i>
      {{pet.petName}}的记事本
    </a>

    <a href="#" class="item item-icon-left">
      <i class="icon ion-ios-telephone"></i>
      百科书
    </a>

    <a href="#" class="item item-icon-left">
      <i class="icon ion-wifi"></i>
      找医生
    </a>

    <a href="#" class="item item-icon-left">
      <i class="icon ion-card"></i>
      做美容
    </a>

    <a href="#" class="item item-icon-left">
      <i class="icon ion-card"></i>
      找狗
    </a>

  </div>
  </ion-content>
  <!--</ion-nav-view>-->
</ion-view>
