<ion-view title="宠物">

  <ion-nav-buttons side="right">
    <a class="button button-clear" ng-click="goToAdd()" nav-clear>
      <i class="icon ion-plus"></i>
    </a>
  </ion-nav-buttons>
  <ion-content>
  <div class="list">
    <div class="item item-image">
      <img ng-src="{{pet.petPhoto}}" style="min-height: 200px;">
    </div>
    <a ng-href="#/petLog/{{pet.petId}}" class="item item-icon-left">
      <i class="icon ion-ios-paper"></i>
      {{pet.petName}}的记事本
    </a>

    <a href="#" class="item item-icon-left">
      <i class="icon ion-ios-bookmarks"></i>
      百科书
    </a>


    <a href="#" class="item item-icon-left">
      <i class="icon ion-images"></i>
      狗狗相册
    </a>

  </div>
  </ion-content>
</ion-view>
