<ion-view hide-nav-bar="true">
  <ion-slide-box show-pager="true" style="height: 35%;" does-continue="true" auto-play="true">
    <ion-slide ng-repeat="ad in ads" ng-click="detail(ad.pId)" style="width: 100%">
    <div style="z-index: 9999;background-color: rgba(40,49,74,0.4);padding: 5px;position: absolute;width: 100%;">
      <span class="stable">{{ad.title}}</span>
    </div>

    <img ng-src="{{ad.adImg}}" style="height: 100%;width: 100%">
  </ion-slide>
  </ion-slide-box>
  <ion-content style="position: absolute;top: 36%;">
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
      <ion-list>
        <ion-item collection-repeat="item in news" ng-click="goNewsDetail(item)"><h3>{{item.newsTitle}}</h3></ion-item>
      </ion-list>
    <ion-infinite-scroll ng-if="tryMore" on-infinite="loadMore()" immediate-check="true"  icon="ion-load-c" distance="10%" ></ion-infinite-scroll>
  </ion-content>
</ion-view>

