<ion-view hide-nav-bar="true">
  <ion-slide-box show-pager="true" style="height: 30%" does-continue="true" auto-play="true">
  <ion-slide>
    <img src="https://cdn.zhyee.cn/ionic_require/require.png" style="height: 100%;width: 100%">
  </ion-slide>
  <ion-slide>
    <img src="https://cdn.zhyee.cn/ionic_require/require.png" style="height: 100%;width: 100%">
  </ion-slide>
  <ion-slide>
    <img src="https://cdn.zhyee.cn/ionic_require/require.png" style="height: 100%;width: 100%">
    </ion-slide>
  </ion-slide-box>

  <div>

  </div>

</ion-view>

